#developer h3 {
  font-family: optima;
  color: #d6d3d3;
  font-size: 18px;
  position: relative;
  left: 0px;
  margin-top: 40px;
  margin-bottom: 300px; }



#home {
  width: 100%;
  height: 600px;
  background-color: #b45e68;
  background-image: -webkit-radial-gradient(#b45e68, #6f6c90);
  background-image: radial-gradient(  #b45e68, #6f6c90);
  background-color: red;
  background-image: -webkit-radial-gradient(#b45e68, #6f6c90);
  background-image: radial-gradient(  #b45e68, #6f6c90);
  margin: 0;
  padding: 0; }

#header {
  position: relative;
  width: 100%;
  height: 20px; }

#projects {
  font-family: optima;
  display: block;
  position: relative;
  text-align: center;
  font-size: 20px;
  padding-top: 26px;
  line-height: 30px;
  color: #d6d3d3; }

#aboutMe, #one, #two, #three {
  opacity: 0; 
}


#projects li {
  display: inline-block;
  -webkit-transition: all 5s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  -moz-transition: all 5s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: all 5s cubic-bezier(0.6, 0.04, 0.98, 0.335); }

#main1, #main3 {
  width: 100%;
  height: 700px;

  /*background-color: rgba(255, 255, 255, 0.3);*/ 
  background: url("../images/white2.jpg") 
}

#main2, #main4 {
  width: 100%;
  height: 700px;
/*  background: navy;*/
  opacity: .9;
  /*background: url("coffe.png") no-repeat center fixed;*/
/*background: url("../images/NYC2.jpg") no-repeat center fixed;*/
background: radial-gradient(#464D74,#2B3A4B);*/
  background-size: cover;
  /*color: rgba(255,255,255,.5);*/
  color: rgba(255,255,255,.5);
  position: relative; 
  }

.container {
  background-color: black;
  height: 500px;
  overflow: scroll;
  border-radius: 20px; 
}

img {
  /*background-color: black;*/
  width: 100%;
 /* height: auto;*/
  overflow: scroll; }

.rangers {
  position: relative;
  max-height: 6000px;
  overflow: scroll; }

#title {
  width: 100%;
  height: 200px;
  font-size: 60px;
  font-family: optima;
  color: #d6d3d3;
  padding-top: 200px;
  text-align: center;
  -webkit-transition: all 5s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  -moz-transition: all 5s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: all 5s cubic-bezier(0.6, 0.04, 0.98, 0.335); }

.mainButton {
  width: 100px;
  font-family: optima;
  background-color: transparent;
  border-radius: 30px;
  height: 30px;
  border: 1.8px solid #d6d3d3;
  color: #d6d3d3; }
#weavButton{
    width: 160px;
  font-family: optima;
  background-color: transparent;
  border-radius: 30px;
  height: 35px;
  border: 3px solid #d6d3d3;
  color: white; 
  text-decoration: none;
}
#weavButton:visited{
    color:white;
  text-decoration: none;
}
.topLine {
  position: relative;
  width: 100%;
  height: 15%; }

.topLine h3 {
  font-family: optima;
  font-size: 38px;
  padding-top: 22px;
  padding-left: 23px; }

#AboutP {
  width: 100%;
  height: 500px;
 background: url("../images/white2.jpg");
 background-size: cover; 
  }

.aboutLeft {
  position: relative;
  width: 35%;
  height: 80%;
  float: right;
  margin-left: 10px; }

.aboutRight {
  position: relative;
  width: 35%;
  height: 80%;
  float: right;
  margin-left: 10px; }

  .aboutPic{
  width: 19%;
float: left;
margin-left: 62px;
height: 58%;
margin-top: 69px;


  }
  .aboutPic img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
  }

.aboutLeft p, .aboutRight p {
  position: relative;
  width: 80%;
  font-family: optima;
  padding-left: 40px;
  top: 20%;
  line-height: 25px; }

.projectLeft {
  position: relative;
width: 33%;
height: 50%;
float: right;
margin-right: 120px;
/*background-color: rgba(250, 250, 250, 0.9);*/
border-radius: 20px; }

.projectRight {
 position: relative;
width: 45%;
height: 80%;
float: left;
margin-left: 60px; }

.projectLeft p {
  position: relative;
  width: 80%;
  font-family: optima;
  text-align: center;
  padding-left: 40px;
  top: 20%;
  line-height: 25px; }

.projectLeft2 {
  position: relative;
  width: 40%;
  height: 80%;
  float: left;
  margin-left: 60px; }

.projectRight2 {
  position: relative;
  width: 40%;
  height: 50%;
  float: right;
  margin-right: 120px;
  border-radius: 20px; }

.projectLeft2 p {
  position: relative;
  width: 80%;
  font-family: optima;
  text-align: center;
  padding-left: 40px;
  top: 20%;
  line-height: 25px; }

.projectLeft3 {
  position: relative;
  width: 40%;
  height: 80%;
  float: left;
  margin-left: 60px; }

.projectRight3 {
  position: relative;
  width: 40%;
  height: 50%;
  float: right;
  margin-right: 120px;
  border-radius: 20px;
  background-color: rgba(214, 211, 211, 0.8); }

.projectRight3 p {
  position: relative;
  width: 80%;
  font-family: optima;
  text-align: center;
  padding-left: 40px;
  top: 20%;
  line-height: 25px; }

#main2title {
  font-family: optima;
  font-size: 38px;
  padding-top: 22px;
  padding-left: 80%;
    color: rgba(255,255,255,.5);
  font-weight: bold; }

#networks{

  background: linear-gradient(#D6CEC3,#E4DDCA),#D6CEC3;
  height: 200px;
  width: 100%;
}
#social {
  position: relative;
  display: inline-block; 
   text-align: center;
   margin: 10px;
   margin-top: 56px;
padding-left: 40%;

}
#social li{
  margin: 10px;
}
#social li {
  display: inline-block; }
/*#fb{
    height: 52px;
  width: 58px;
  
  background-size: cover;
  background: url("../images/githublogo.png");
}
#email{
  height: 52px;
  width: 58px;
  background: url("../images/twitter.png");
  background-size: cover;
 /* background-repeat: none;*/
/*}
#twitter{
  height: 52px;
  width: 58px;
  background: url("../images/email.png");
}*/
/**/
